body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'MetricRegular';
    background-color: #FFFFFF;
}
label {
    font-weight: 100;
}
.section {
    position: relative;
    padding: 20px;
}
.center-login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
}
.header {
    background-color: #415564;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.header img {
    width: 100%;
    max-width: 120px;
    margin-bottom: 5px;
}
.header a {
    color: #4fc0a6;
    font-family: 'MetricSemiBold';
}
.header p {
    font-size: 28px;
    color: #fff;
    font-family: 'MetricSemiBold';
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.header .tipo-user {
    font-size: 18px;
    font-family: 'MetricRegular';
    margin: 0;
}
.mdl-container {
    max-width: 1200px;
    margin: auto;
    -webkit-transition: max-width .2s linear;
    -moz-transition: max-width .2s linear;
    -ms-transition: max-width .2s linear;
    -o-transition: max-width .2s linear;
    transition: max-width .2s linear;
}
.mdl-input {
    padding: 7px 20px;
    height: 75px;
    margin: 0;
    border: 1px solid #000;
}
.mdl-input label {
    font-family: 'MetricLight';
    color: #000;
    cursor: pointer;
}
.mdl-input input {
    display: block;
    height: 36px;
    width: 100%;
    border: none;
}
.mdl-input input:focus {
    outline: 0;
}
.mdl-input.input-focused {
    border: 1px solid #01a982;
}
.mdl-input .bootstrap-select {
    width: 100% !important;
}
.mdl-input .bootstrap-select .dropdown-toggle {
    border: none !important;
    padding: 6px 0;
    outline: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
.mdl-input .bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}
.mdl-label {
    padding: 20px 10px;
}
.mdl-card,
.mdl-card__supporting-text{
    width: 100%;
}
/*CERTIFICADOS*/
#certificado p,
#certificado h2{
    color: #000000;
}
#certificado .datos p{
    color: #767676;
    font-size: 22px;
    font-family: 'MetricLight';
    margin: 5px 0;
    line-height: 26px;
}
#certificado h2{
    font-size: 28px;
    line-height: 32px;
    font-family: 'MetricSemiBold';
    margin: 15px 0;
}
#certificado .datos{
    padding: 30px 0;
    border-bottom: 1px solid #CCCCCC;
}
#certificado .datos-certificados{
    padding: 10px 0;
}
.certificados .contenido p{
    margin: 0;
}
.certificados .contenido{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.certificados .contenido img{
    width: 100%;
    max-width: 50px;
}
.certificados .contenido p{
    font-size: 20px;
    margin-left: 10px;
    line-height: 22px;
}
.certificados a{
    font-size: 20px;
    color: #01A982;
    cursor: pointer;
}
.redes{
    margin-top: 20px;
}
.redes .twitter{
    background-color: #1EA1F3;
}
.redes .facebook{
    background-color: #3B5999;
}
.redes .linkedin{
    background-color: #0077B5;
}
.redes .google{
    background-color: #DD4B3E;
}
.redes a{
    margin: 0 5px;
    display: inline-block;
}
.redes a i{
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 18px;
}
.button-logout{
    background-color: #01a982 !important;
    border-radius: 20px;
    color: #FFFFFF;
    text-transform: initial;
    font-family: MetricSemiBold;
    margin-top: 12px;
}
footer {
    background-color: #d1d3d5;
}
footer img {
    max-width: 125px;
    margin-bottom: 20px;
}
footer p {
    font-family: 'MetricRegular';
    font-size: 13px;
    color: #000000;
    margin: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 10px;
    font-family: 'MetricRegular';
    font-size: 13px;
    color: #000000;
}
footer .right{
    text-align: right;
}
